<f:section name="main">
    <h1>Import CSV</h1>

    <f:flashMessages/>

    <table class="tx_csvimport">
        <f:comment>


            <f:for each="{newCompanies}" as="company">
                <tr>
                    <td>{company.title}</td>
                    <td>{company.location}</td>
                    <td>{company.category}</td>
                </tr>
            </f:for>
        </f:comment>
    </table>

</f:section>