<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <h1>Listing for Company</h1>

    <f:flashMessages/>
    <f:form enctype="multipart/form-data" method="post">
        <f:form.upload name="file"/>
        <br/>
        <f:form.textfield name="path" value="uploads/tx_csvimport/" />
        <br/>
        <f:form.textfield name="pid" value="34" />
        <br/>
        <f:form.submit value="Import"/>
    </f:form>

    <table class="tx_csvimport">
        <f:for each="{companies}" as="company">
            <tr>
                <td>{company.title}</td>
                <td>{company.location}</td>
            </tr>
        </f:for>
    </table>
</f:section>