
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Push</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_psnotify" >
	<tr>
		<th><f:translate key="tx_psnotify_domain_model_push.title" /></th>
		<th><f:translate key="tx_psnotify_domain_model_push.content" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{pushes}" as="push">
		<tr>
			<td><f:link.action action="show" arguments="{push : push}"> {push.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{push : push}"> {push.content}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{push : push}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{push : push}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Push</f:link.action>
</f:section>