
<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="main" />
			</div>
		</div>
	</div>
</f:be.container>
