<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="{v:extension.loaded(extensionName: 'fluidcontent_core', then: 'ContentCore', else: 'Content')}" />

	<f:section name="Configuration">
		<flux:form id="example" options="{group: 'FCE'}">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
			<flux:field.inline name="settings.helloWorld" required="true" />
			<flux:field.input name="title" label="Title" />
			<flux:field.file name="imageSource" allowed="jpg,jpeg,png,gif" showThumbnails="true" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<!-- If you wish, place custom backend preview content here -->
		<strong>Your Input:</strong><br />
		{settings.helloWorld}
		{title}
		<f:image src="/{imageSource}"  width="80c"/>		
	</f:section>

	<f:section name="Main">
		<h3>I am a content element!</h3>
		<p>
			My template file is EXT:psbase/Resources/Private/Content/Example.html.
		</p>
		<h3>Frontend output</h3>
		<p>
			{settings.helloWorld}
			{title}
			<f:image src="/{imageSource}" width="160c" />
		</p>
	</f:section>
</div>
